{% extends 'base.html' %}
{% load static %}

{% block main_block %}
<main>
    <title>{{ title }}</title>

    <h1 class="ui huge header" align="center">
        <font face="bili" size="5">&#xe6e6; </font>
        {{ h1 }}
    </h1>

    <h5 class="ui header" align="center">
        <font color="grey">
            {{ h2 }}
        </font>
    </h5>

    <div class="ui divider"></div>
    <br />

    {% if page_obj %}
    {% include "pagination.html" %}
    <br />
    <br />
    {% else %}
    <br /><br /><br /><br /><br /><br /><br />
    <div class="ui item" align="center">
        <font color="grey">这里什么也没有~</font>
    </div>
    <br /><br /><br /><br /><br /><br /><br />
    {% endif %}

    <div class="ui four centered cards">
        {% for obj in page_obj %}
        <a class="ui raised card" href="{% url 'searcher:video-detail' obj.aid %}">
            <div class="image">
                <img class="ui medium rounded image" src="{% static 'searcher/data/'%}{{ obj.pic_path }}">
            </div>
            <div class="content">
                <div class="header">{{ obj.title }}</div>
                <div class="meta">
                    <span class="date">{{ obj.pub_time }}</span>
                </div>
            </div>
            <div class="extra content">
                <div class="ui two column grid">
                    <div class="row">
                        <div class="column">
                            <font face="bili">&#xe6e6;</font>
                            {{ obj.view }}
                        </div>
                        <div class="right aligned column">
                            <font face="bili">&#xe6e7;</font>
                            {{ obj.danmaku }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="extra content">
                <object>
                    <a class="item" href="{% url 'searcher:up-detail' obj.get_owner.mid %}">
                        <div class="center aligned author">
                            <img class="ui avatar image" src="{% static 'searcher/data/'%}{{ obj.get_owner.pic_path }}">
                            {{ obj.get_owner.name }}
                        </div>
                    </a>
                </object>
            </div>
        </a>
        {% endfor %}
    </div>

    <br />
    <br />
    {% if page_obj %}
    {% include "pagination.html" %}
    {% endif %}

    <br />
    <div class="ui divider"></div>
    <br />

</main>
{% endblock main_block %}